.idea
*.pyc
ts19*.txt
*.rpy
*.txt
*.txt

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Microsoft Office
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
src/build/main/base_library.zip
player_file_windows/player333.cpp
src/build/main/main.exe.manifest
src/build/main/out00-Analysis.toc
src/build/main/out00-EXE.toc
src/build/main/out00-PKG.pkg
src/build/main/out00-PKG.toc
src/build/main/out00-PYZ.pyz
src/build/main/out00-PYZ.toc
src/build/main/xref-main.html
src/dist/main.exe
src/main.spec
src/save2389.zip
src/save974.zip
player_file_windows/player.cpp
player_file_windows/player.cpp
player_file_windows/player.cpp
player_file_windows/player_sample.cpp
player_file_windows/player_xiulaoban.cpp
player_file_windows/playeraaa.cpp
player_file_windows/playerccc.cpp
*.cpp
src/temp_result
src/dist/server.exe
src/dist/server_debug.exe
src/test.py
src/this_path
